<div id={{ radio_id }} class="radio-buttons">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{ radio_id }}" id="option1" value="1">
    <label class="form-check-label" for="option1">
      1
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{ radio_id }}" id="option2" value="2">
    <label class="form-check-label" for="option2">
      2
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{ radio_id }}" id="option3" value="3">
    <label class="form-check-label" for="option3">
      3
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{ radio_id }}" id="option4" value="4">
    <label class="form-check-label" for="option4">
      4
    </label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{ radio_id }}" id="option5" value="5">
    <label class="form-check-label" for="option5">
      5
    </label>
  </div>
</div>